/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body
{
	width: 876px;
	height: auto;
	margin-left: 75px;
}

.nav-elements, .nav-image, .header-text, .get-started, .header-image,
.features, .about, .services, .product, .vision
{ display: inline-block; }

header, section { width: 100%; }

.nav-elements
{
	margin-top: 25px;
	height: 50px;
}

/* Stretch Goal #4, setting all images as background images in CSS */
.nav-image 
{ 
	/* Must set a width/height or the div will be 0px and won't show up. */
	width: 183px;
	height: 36px;
	
	background-image: url("../img/logo.png");
	color: #FFFFFF;
	margin-left: 10px;
	vertical-align: middle;
}

nav
{
	background-color: lightgray;
	
	/* This is for automatic scrolling and keeping the nav at the top Stretch Goal #1
	note this will offset the navigation to where it doesn't match up properly in the flow*/
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	
}

nav a
{
	text-decoration: none;
	color: #A7A7A7;
	margin-right: 60px;
	margin-left: 10px;
	
}

header
{
	margin-top: 50px;
	margin-bottom: 50px;
}

.header-text
{
	width: 40%;
	text-align: center;
	padding: 50px 0 50px 0;
	margin-left: 100px;
}

header h1 { font-size: 72px; }

.get-started
{
	text-align: center;
	border: 2px solid black;
	padding: 10px 35px 10px 35px;
}

/*.header-image
{

	float: right;
	margin-right: 10px;
}*/

/* Stretch Goal #4, setting all images as background images in CSS */
.header-image 
{ 
	/* Must set a width/height or the div will be 0px and won't show up. */
	width: 379px;
	height: 379px;
	
	background-image: url("../img/header-img.png");
	color: #FFFFFF;	
	margin-right: 10px;
}

.header-division 
{ 
	width: 876px;
	margin: 100px 0px 25px 0;
	height: 1px;
	background-color: #000000;
	border: 0 none;
}

.section-division
{
	width: 876px;
	margin: 10px 0px 25px 0;
	height: 1px;
	background-color: #000000;
	border: 0 none;
}

h2 { font-weight: bold; }

section
{
	font-size: 0;
}

.features, .about, .services, .product, .vision
{
	width: 50%;
	font-size: 16px;
	margin: 25px 0px 25px 0px;
}

.services, .product, .vision
{
	width: 32%;
	margin-left: 10px;
}

/* Stretch Goal #4, setting all images as background images in CSS */
.middle-img
{
	/* Must set a width/height or the div will be 0px and won't show up. */
	width: 876px;
	height: 182px;
	background-image: url("../img/mid-page-accent.jpg");
	color: #FFFFFF;
}

address p:nth-child(3), address p:nth-child(4)
{
	line-height: 2;
}

footer
{
	/* Stretch Goal #2 on footer using Google Fonts */
	font-family: 'Aguafina Script'; font-size: 16px;
	text-align: center;
	margin: 25px 0px 25px 0px;
	
}

